*{
	padding: 0px;
	margin: 0px;
}
body{
font-family: 'Roboto Condensed', sans-serif;
 
}

.tieude{
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	color: grey;
	padding-top: 20px;
}
.dangnhap{
	
 text-align: center;
 padding-top: 50px;

}
.formdangnhap{
	margin-top: -100px;
	font-family: 'Indie Flower', cursive;
}
.formdangnhap input{
	margin: 10px;
}
.ava{
	background-color:blue;