*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #000;
}
.Tieude{
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	padding-top: 30px;
}

.header .dangki .formdk{
	margin:50px 450px;
	text-align: center;
	
}
.header .dangki .formdk td{
	padding: 5px;
}